# dependencies
/node_modules
/.pnpm
/.pnpm-store

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# database
/prisma/*.db
/prisma/*.db-journal

# internal local co-founder memory files
/agents.md
/plans.md
/currentactions.md
/completed.md
